*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, rgb(148, 148, 189), rgb(145, 51, 98)) ;
  background-repeat:repeat;
  background-position: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
